@{
    int z = 17;
    int mask = (1 << z) - 1;
    int x = Nvx.Orchard.Osm.OsmMath.GetX(z + 1, Model.Longitude);
    int y = Nvx.Orchard.Osm.OsmMath.GetY(z + 1, Model.Latitude);
    if ((x & 1) == 0)
    {
        x=(x/2-1)&mask;
    }
    else
    {
        x = x/2;
    }
    if ((y & 1) == 0)
    {
        y=(y/2-1)&mask;
    }
    else
    {
        y = y / 2;
    }
}
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td><img alt="Location" border="0" src="http://b.tile.openstreetmap.org/@(z)/@(x)/@(y).png" /></td>
<td><img alt="Location" border="0" src="http://b.tile.openstreetmap.org/@(z)/@((x+1)&mask)/@(y).png" /></td>
</tr>
<tr>
<td><img alt="Location" border="0" src="http://b.tile.openstreetmap.org/@(z)/@(x)/@((y + 1)&mask).png" /></td>
<td><img alt="Location" border="0" src="http://b.tile.openstreetmap.org/@(z)/@((x + 1)&mask)/@((y + 1)&mask).png" /></td>
</tr>
</table>
@*<img alt="Location" border="1" src="http://maps.google.com/maps/api/staticmap?&zoom=14&size=256x256&maptype=roadmap&markers=color:blue|@Model.Latitude,@Model.Longitude&sensor=false" />*@

