
@*<?xml version="1.0" encoding="windows-1251" standalone="yes"?>
<service xml:base="http://odata.netflix.com/Catalog/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:app="http://www.w3.org/2007/app" xmlns="http://www.w3.org/2007/app">
  <workspace>
    <atom:title>Default</atom:title>
    
    @{
        foreach (var item in new int[]{})
        {
        
        }
    }
    <collection href="Genres">

      <atom:title>Genres</atom:title>

    </collection>

    <collection href="Titles">

      <atom:title>Titles</atom:title>

    </collection>

    <collection href="TitleAudioFormats">

      <atom:title>TitleAudioFormats</atom:title>

    </collection>

    <collection href="TitleAwards">

      <atom:title>TitleAwards</atom:title>

    </collection>

    <collection href="People">

      <atom:title>People</atom:title>

    </collection>

    <collection href="TitleScreenFormats">

      <atom:title>TitleScreenFormats</atom:title>

    </collection>

    <collection href="Languages">

      <atom:title>Languages</atom:title>

    </collection>

  </workspace>

</service>*@

@*@model TestServiceModel
@{
    ViewBag.Title = "TestService";
}*@

<h2>@T("TestService!")</h2>

@*<div>@Model.XML</div>*@
